In [20]:
import json

fd=open("record.json",'r')
r=fd.read()
fd.close()
records=json.loads(r)

In [21]:
records

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 35},
 '1010': {'name': 'Laptop', 'pr': 50000, 'qn': 63},
 '1011': {'name': 'Mouse', 'pr': 200, 'qn': 50},
 '1012': {'name': 'Joystick', 'pr': 90, 'qn': 400},
 '1013': {'name': 'GPU', 'pr': 5000, 'qn': 40},
 '1014': {'name': 'PeaNut Butter', 'pr': 150, 'qn': 500},
 '1015': {'name': 'Bread', 'pr': 20, 'qn': 100},
 '1016': {'name': 'Milk', 'pr': 50, 'qn': 150},
 '1017': {'name': 'Sattoo', 'pr': 120, 'qn': 500},
 '1018': {'name': 'Himalaya Soap', 'pr': 60, 'qn': 200},
 '1019': {'name': 'Dove Soap', 'pr': 30, 'qn': 300},
 '1020': {'name': 'Coconut Oil', 'pr': 150, 'qn': 200},
 '1021': {'name': 'Geometry Box', 'pr': 250, 'qn': 100},
 '1022': {'name': 'Channa Besan', 'pr': 45, 'qn': 300},
 '1023': {'name': 'Suji', 'pr': 52, 'qn': 600},
 '1024': {'name': 'Flour', 'pr': 35, 'qn': 1000},
 '1025': {'name': 'Mineral Water', 'pr': 20, 'qn': 600},
 '1026': {'name': 'Coca Cola', 'pr': 75, 'qn': 150},
 '1027': {'name': 'Pepsi', 'pr': 75, 'qn': 320},
 '1028': {'name': 'Dairy Milk Silk', 'pr': 90, 'qn': 100},
 '1029': {'name': 'Kitkat', 'pr': 50, 'qn': 60},
 '1030': {'name': '5 Stars', 'pr': 30, 'qn': 100},
 '1031': {'name': 'Oreo', 'pr': 10, 'qn': 500},
 '1032': {'name': 'Hide&Seek', 'pr': 15, 'qn': 400}}

#Purchane Products

In [76]:
ui_prod=str(input("Enter the Product_Id:"))
ui_quant=int(input("Enter the quantity:"))
ph=str(input("Enter Customers Monile No:"))
lst=list(records.keys())
if ui_prod in lst:
  if records[ui_prod]['qn']<ui_quant:
    print("We only have "+str(records[ui_prod]['qn'])+" "+records[ui_prod]['name'])
  else:
    records[ui_prod]['qn']=records[ui_prod]['qn']-ui_quant
    print("Product:",records[ui_prod]['name'])
    print("Price:",records[ui_prod]['pr'])
    print("Mobile No:",ph)
    print("Billing Amount:",records[ui_prod]['pr']*ui_quant)
else:
  print("The Product is not in the inventory")

sales[(len(sales)+1)]={'prod':ui_prod,'qn':ui_quant,'mobile no': ph,'amount':records[ui_prod]['pr']*ui_quant}
sales

Enter the Product_Id:1009
Enter the quantity:5
Enter Customers Monile No:7563124596
Product: Keyboard
Price: 1999
Mobile No: 7563124596
Billing Amount: 9995

{1: {'amount': 5750, 'mobile no': '1236459675', 'prod': '1021', 'qn': 23},
 2: {'amount': 5750, 'mobile no': '1236459675', 'prod': '1021', 'qn': 23},
 3: {'amount': 5750, 'mobile no': '1236459675', 'prod': '1021', 'qn': 23},
 4: {'amount': 520, 'mobile no': '2023252668', 'prod': '1023', 'qn': 10},
 5: {'amount': 420, 'mobile no': '4526358575', 'prod': '1030', 'qn': 14},
 6: {'amount': 240, 'mobile no': '8695451235', 'prod': '1025', 'qn': 12},
 7: {'amount': 780, 'mobile no': '1078964215', 'prod': '1019', 'qn': 26},
 8: {'amount': 1170, 'mobile no': '3645859674', 'prod': '1012', 'qn': 13},
 9: {'amount': 1800, 'mobile no': '364575641', 'prod': '1014', 'qn': 12},
 10: {'amount': 720, 'mobile no': '3678964512', 'prod': '1018', 'qn': 12},
 11: {'amount': 300, 'mobile no': '8545631258', 'prod': '1030', 'qn': 10},
 12: {'amount': 9995, 'mobile no': '7563124596', 'prod': '1009', 'qn': 5}}

#Update Inventory after Purchase

In [77]:
js=json.dumps(records)

fd=open("record.json",'w')
fd.write(js)
fd.close()

#Sales JSON

In [78]:
{'prod':ui_prod,'qn':ui_quant,'mobile no': ph,'amount':records[ui_prod]['pr']*ui_quant}

{'amount': 9995, 'mobile no': '7563124596', 'prod': '1009', 'qn': 5}

In [79]:
sale=json.dumps(sales)

fd=open("sales.json",'w')
fd.write(js)
fd.close()